<div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <div style="background-color: #f3f3f3; padding: 83px 63px; width: 565px;">
        <div style="background-color: #fff; border: 1px solid #fff; border-radius: 5px;">
            <div style="background-color: #33b5e9; color: #fff; height: 124px; display: flex; align-items: center; justify-content: center;">
                <h3 style="text-align: center;">{{ title }}</h3>
            </div>
            <div style="color: #666; text-align: center; padding: 34px;">
                <h4>{{ greeting }}</h4>
                <p style="line-height: 2;">
                    {{ description }}
                    <br>
                    <br>
                    <br>
                    <a href="{{ url }}" target="_blank" style="background-color: #ffb301; border-radius: 5px; color: #fff; padding: 15px 40px; text-decoration: none;">Энд дарна уу</a>
                </p>
            </div>
        </div>
        <div>
            <h3 style="color: #666; font-style: italic; text-align: center;">Бидэнтэй холбогдох</h3>
            <div style="display: flex; align-items: center; justify-content: center;">
                <div style="display: flex; flex-direction: row; justify-content: space-around; align-items: center; width: 300px">
                    <div style="width: 40px">
                        <a href="https://twitter.com/Golomtbank" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="126.444 2.281 589 589"><circle cx="420.944" cy="296.781" r="294.5" fill="#2daae1"/><path d="M609.773 179.634c-13.891 6.164-28.811 10.331-44.498 12.204 16.01-9.587 28.275-24.779 34.066-42.86a154.78 154.78 0 0 1-49.209 18.801c-14.125-15.056-34.267-24.456-56.551-24.456-42.773 0-77.462 34.675-77.462 77.473 0 6.064.683 11.98 1.996 17.66-64.389-3.236-121.474-34.079-159.684-80.945-6.672 11.446-10.491 24.754-10.491 38.953 0 26.875 13.679 50.587 34.464 64.477a77.122 77.122 0 0 1-35.097-9.686v.979c0 37.54 26.701 68.842 62.145 75.961-6.511 1.784-13.344 2.716-20.413 2.716-4.998 0-9.847-.473-14.584-1.364 9.859 30.769 38.471 53.166 72.363 53.799-26.515 20.785-59.925 33.175-96.212 33.175-6.25 0-12.427-.373-18.491-1.104 34.291 21.988 75.006 34.824 118.759 34.824 142.496 0 220.428-118.052 220.428-220.428 0-3.361-.074-6.697-.236-10.021a157.855 157.855 0 0 0 38.707-40.158z" fill="#fff"/></svg>
                        </a>
                    </div>
                    <div style="width: 40px">
                        <a href="https://www.facebook.com/Golomtbank" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="126.445 2.281 589 589"><circle cx="420.945" cy="296.781" r="294.5" fill="#3c5a9a"/><path d="M516.704 92.677h-65.239c-38.715 0-81.777 16.283-81.777 72.402.189 19.554 0 38.281 0 59.357H324.9v71.271h46.174v205.177h84.847V294.353h56.002l5.067-70.117h-62.531s.14-31.191 0-40.249c0-22.177 23.076-20.907 24.464-20.907 10.981 0 32.332.032 37.813 0V92.677h-.032z" fill="#fff"/></svg>
                        </a>
                    </div>
                    <div style="display: flex; width: 40px">
                        <a href="mailto:dua@golomtbank.com" target="_blank" style="display: inline-block; margin-left: -16px; width: 40px;">
                            <svg clip-rule="evenodd" fill-rule="evenodd" height="40" style="margin-left: -30px;" image-rendering="optimizeQuality" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" viewBox="0 0 3000 3000" width="30mm" xmlns="http://www.w3.org/2000/svg"><path d="M1500 0c828 0 1500 672 1500 1500s-672 1500-1500 1500S0 2328 0 1500 672 0 1500 0zm751 902l-1456-4 728 578zm-900 735l-636-500v950h1573v-930l-590 482c-200 163-140 160-347-2zM723 716h1569c127 0 230 104 230 230v1100c0 127-104 230-230 230H723c-127 0-230-104-230-230V946c0-127 104-230 230-230z" fill="red"/></svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>